@model List<Prodotto>

<h1 class="my-4 text-white">Vetrina</h1>

<div class="container">
    <div class="row">
        @if (Model != null && Model.Any())
        {
            @foreach (var prodotto in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <img src="@prodotto.ImmagineCopertina" class="card-img-top shadow-image" alt="@prodotto.Nome">
                        <div class="card-body">
                            <h5 class="card-title">@prodotto.Nome</h5>
                            <p class="card-text"><strong>Prezzo:</strong> €@prodotto.Prezzo</p>
                            <a href="@Url.Action("Dettagli", "Prodotto", new { id = prodotto.Id })" class="btn btn-outline-success">
                                Scopri di più
                            </a>
                            <a href="@Url.Action("Elimina", "Prodotto", new { id = prodotto.Id })" onclick="return confirm('Sei sicuro di voler eliminare questo prodotto?');" class="btn btn-outline-danger">Elimina</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="text-center">Nessun prodotto disponibile.</p>
        }
    </div>
</div>




